<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlythe.sms">
          
    <!-- Used to send and receive messages -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- Used to get contact information to send messages -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- Used to get your information to know which messages are yours -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <!-- Mms uses data network to send -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Keeps the phone awake while downloading messages -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- For using the camera -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="androidx.multidex.MultiDexApplication">

        <!-- BroadcastReceiver that listens for incoming messages -->
        <receiver android:name=".receiver.MessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xlythe.textmanager.text.ACTION_TEXT_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for notification dismissal -->
        <receiver android:name=".receiver.MessageReceiver$OnDismissReceiver"/>

        <!-- BroadcastReceiver that listens for replies to notifications -->
        <receiver android:name=".receiver.MessageReceiver$OnQuickReplyReceiver"/>

        <!-- Shows all the user's texts -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- See ComposeActivity. This Activity helps select a contact -->
        <activity
            android:name=".ContactSearchActivity"
            android:theme="@style/AppTheme.Compose.Edit"
            android:windowSoftInputMode="stateVisible|adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.ComposeActivity"/>
        </activity>

        <!-- For sending messages to a new contact -->
        <activity
            android:name=".ComposeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Compose"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <!-- On Android M+, you can share directly to contacts -->
        <service
            android:name=".service.FetchChooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService"/>
            </intent-filter>
        </service>

        <!-- For sending messages -->
        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.MainActivity"/>
        </activity>

        <!-- For viewing a video or picture -->
        <activity android:name=".MediaActivity"/>

        <!-- For sharing a video or picture -->
        <activity
            android:name=".ShareMediaActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.FetchChooserTargetService"/>
        </activity>

        <!-- For viewing contacts in a thread -->
        <activity android:name=".InfoActivity"
            android:label="@string/activity_info"
            android:parentActivityName=".MessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.MessageActivity"/>
        </activity>
    </application>

</manifest>
