<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlythe.sms" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_MMS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <!-- BroadcastReceiver that listens for incoming messages -->
        <receiver android:name=".receiver.MessageReceiver">
            <intent-filter>
                <action android:name="com.xlythe.textmanager.text.ACTION_TEXT_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for deletion of notification -->
        <receiver android:name=".receiver.Notifications$OnDismissReceiver" />

        <!-- BroadcastReceiver that listens for replies to notifications -->
        <receiver android:name=".receiver.Notifications$OnReplyReceiver" />

        <!-- Shows all the user's texts -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- See ComposeActivity. This Activity helps select a contact -->
        <activity
            android:name=".ContactSearchActivity"
            android:theme="@style/AppTheme.Compose.Edit"
            android:windowSoftInputMode="stateVisible|adjustNothing"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.ComposeActivity" />
        </activity>

        <!-- For sending messages to a new contact -->
        <activity
            android:name=".ComposeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Compose"
            android:launchMode="singleTask" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.FetchChooserTargetService" />

        </activity>

        <!-- On Android M+, you can share directly to contacts -->
        <service
            android:name=".service.FetchChooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <!-- For sending messages -->
        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.Compose"
            android:launchMode="singleTask" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xlythe.sms.MainActivity" />

        </activity>

        <!-- For viewing a video or picture -->
        <activity android:name=".MediaActivity"
            android:launchMode="singleTask" />

        <!-- For sharing a video or picture -->
        <activity android:name=".ShareMediaActivity"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.FetchChooserTargetService" />

        </activity>

    </application>

</manifest>
